<div class="section-container nested-fields">
  <div class="form-group">
    <label>Rules (markdown)</label>
    <div class="md-content">
      <%= f.text_area :terms, class: "form-control txt-med", data: {controller: "ckeditor"} %>
    </div>
    <hr>
  </div>

  <div clas="form-group">
    <fieldset class="checkbox">
      <div>
        <%= f.check_box :has_additional_checkbox, {}, "true", "false" %>
        <%= f.label :has_additional_checkbox, 'Has Additional Checkbox?' %>
      </div>
    </fieldset>
  </div>
  <hr>

  <div class="form-group">
    <label>Additional Checkbox Text</label>
  </div>

  <div class="md-content">
    <%= f.text_area :additional_checkbox_text, class: "form-control ", data: {controller: "ckeditor"} %>
  </div>
</div>